//Reset
@import 'sections/colors.scss';

body{
	background-color: #101010;
    background-image:url("../../../Images/Backgrounds/savagesite.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: inherit;
    font-family: hakubo;
    color: white;
}
body::-webkit-scrollbar {
    width: 6px;
}
 
body::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}
 
body::-webkit-scrollbar-thumb {
    background-color: rgb(246,122,22);;
    border-radius: 100px;
}
/*title*/
h1,h2,h3,h4,h5{
    font-family: Osake;
    font-size: 42px;
    background: rgb(246,122,22);
    background: linear-gradient(360deg, rgba(246,122,22,1) 0%, rgba(221,45,28,1) 100%);
  
   // text-shadow: 3px 4px 12.5px rgba(246,122,22,1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:  0 1px 2px  rgba(246, 122, 22, 0.15),
    0 2px 4px rgba(246, 122, 22, 0.15),
    0 4px 8px rgba(246, 122, 22, 0.15),
    //    box-shadow: 3px -1px 30px #f67a16;



    
 
}

/*text*/
p{
    font-size: 22px;
    font-family: Manga;
}

.sub-text{
    font-family: Osake;
    font-size: 24px;
}


/*btns*/
.button-link{
   
    width: 255px;

    a{   
        position:relative;
        padding: 15px;
        margin:5px;
        display:inline-block;
        font-size:26px;
        color: white;
        text-decoration: none;
        width: 100%;
        text-align: center;
        
        
        &::before{
            content:"";
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            border-radius:15px; 
            padding:2px; 
            background:linear-gradient(360deg, rgba(246,122,22,1) 0%, rgba(221,45,28,1) 100%);
            -webkit-mask: 
               linear-gradient(#fff 0 0) content-box, 
               linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out; 
            mask-composite: exclude; 
           
        }
        &:hover{
            background: linear-gradient(360deg, rgba(246,122,22,1) 0%, rgba(221,45,28,1) 100%);
         //   box-shadow: 0 0px 85px 0px rgb(246 122 22 / 25%);
            box-shadow: 0px -1px 13px #f67a16;
            border-radius:15px; 
            border:none;
           
            
        }
    }
    span{
        font-family: osake;
        font-size: 20px;
        
      

    }
}

/*card style*/
.card{
    box-shadow:  2px 12px 12px  1px #4720a5;

    background: #210f4d;
    padding:50px;
    color: white;
    animation: mymove 2s infinite;
}

  @keyframes mymove {
    50% {box-shadow: 10px 20px 30px #5320a5;}
  }



  @media screen and (max-width: 1199px) {
    h1,h2,h3,h4,h5{
        font-size: 36px;
    }
      /*text*/
        p{
            font-size: 18px;
            
        }
        .sub-text{
          
            font-size: 20px;
        }
        .button-link a{
            font-size: 18px;
        }
        .roadmap ul li {
            
                font-size: 18px!important;
                
            
        }
  }
  @media screen and (max-width: 767px) {
      #myBtn{
          display: none!important;
      }
      .displayblock{
          display: block!important;
          text-align: center;
      }
  }
  